<head>  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 </head>
 <a class="btnLogin" routerLink="/login">Login</a>         
<div class="row" style="text-align:center">
  <div class="jumbotron col s12">
    <h1>
    Sistema de Información Educativo
    </h1>

  </div>
</div>
<div class="row">
  <a routerLink="/estudiantes"><div class="card-panel cyan lighten-4 black-text col s12 m4 routeLink">Estudiantes</div></a>
  <a routerLink="/profesores"><div class="card-panel cyan lighten-4 black-text col s12 m4 routeLink">Profesores</div></a>
  <a routerLink="/clases"><div class="card-panel cyan lighten-4 black-text col s12 m4 routeLink">Clases</div></a>  
</div>


<div class="row">
  <div class="col s12">
    <router-outlet></router-outlet>  
  </div>
</div>

 