

<div class="row ">
  <a routerLink="/clases/registrar" class="col s4 m2 offset-m3 btn">Registrar</a>
  <a routerLink="/clases/modificar" class="col s4 m2 btn">Modificar</a>
  <a routerLink="/clases/eliminar" class="col s4 m2 btn">Eliminar</a>  
</div>

<table class="striped">
        <thead>
          <tr>
          	  <th>ID</th>
              <th>Nombre</th>
              <th>Observaciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let clase of listaClases">
            <td>{{clase.id}}</td>
            <td>{{clase.nombre}}</td>
            <td>{{clase.observacion}} </td>
          </tr>
        </tbody>
</table>
